@model ElectricEye.Web.Models.EnergyUsage

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Timestamp" class="control-label"></label>
        <input asp-for="Timestamp" class="form-control" />
        <span asp-validation-for="Timestamp" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Consumption" class="control-label"></label>
        <input asp-for="Consumption" class="form-control" />
        <span asp-validation-for="Consumption" class="text-danger"></span>
    </div>
    <br />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>


